!!! XML
!!! Strict

%html
  %head
    %title test
  %body
    %h1 Hello, World
    %p Hello, World
    %form{:action=>"/", :method=>"POST"}
      %input{:type=>"textfield", :name=>"name"}
      %br
      %textarea{:name=>"message"}
      %br
      %input{:type=>"submit"}
    - @messages.each do |item|
      .item
        %h2= item.name
        %p= item.message


